<header class="header">
  <div class="header__container">
    <h1 class="header__title">Каталог</h1>
    <input class="header__input" type="text" placeholder="Какой магазин вам нужен?">
  </div>
</header>