<main class="main">
  <div class="main__container">
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/vino.svg">
        <div class="main__coupon-texttop">
          <h1 class="texttop-top">Пробка на мира</h1>
          <h1 class="texttop-bottom">Вечер на двоих</h1>
        </div>
        <div class="main__coupon-textbottom">
          <h1 class="textbottom-top">50%</h1>
          <h1 class="textbottom-bottom">скидка</h1>
        </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/bear.png">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Кино и немцы</h1>
        <h1 class="texttop-bottom">Бесплатный бокал пива</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">варвар</h1>
        <h1 class="textbottom-bottom">промокод</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/cake.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Valery cakes</h1>
        <h1 class="texttop-bottom">Торт</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">30%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/sushi.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">sushi sell</h1>
        <h1 class="texttop-bottom">Набор "Праздник"</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">45%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/mango.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Mangosteen</h1>
        <h1 class="texttop-bottom">Фрукт в подарок</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">J130</h1>
        <h1 class="textbottom-bottom">Купон</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/steak.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Теленок табака</h1>
        <h1 class="texttop-bottom">Стейк "Мачете"</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">20%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/shawurma.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Fire food</h1>
        <h1 class="texttop-bottom">Вторая шаурма в подарок</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">огонь</h1>
        <h1 class="textbottom-bottom">Промокд</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/icecream.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Aroma cremeria</h1>
        <h1 class="texttop-bottom">Джелато "Пармезан"</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">20%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/vino.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Пробка на мира</h1>
        <h1 class="texttop-bottom">Вечер на двоих</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">-50%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/bear.png">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Кино и немцы</h1>
        <h1 class="texttop-bottom">Бесплатный бокал пива</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">варвар</h1>
        <h1 class="textbottom-bottom">промокод</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/cake.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">Valery cakes</h1>
        <h1 class="texttop-bottom">Торт</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">30%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
    <div class="main__coupon">
      <img class="main__coupon-food" src="../img/sushi.svg">
      <div class="main__coupon-texttop">
        <h1 class="texttop-top">sushi sell</h1>
        <h1 class="texttop-bottom">Набор "Праздник"</h1>
      </div>
      <div class="main__coupon-textbottom">
        <h1 class="textbottom-top">45%</h1>
        <h1 class="textbottom-bottom">скидка</h1>
      </div>
    </div>
  </div>
</main>
