<sidebar class="sidebar">
  <div class="sidebar__menuicon">
    <img class="sidebar__menuicon-burger" src="../img/burgermenu.svg">
  </div>
  <div class="container sidebar__container">
    <a href="#" class="logo sidebar__logo sidebar__container-box--hidefull" aria-label="logo">
      <img class="logo-show sidebar__container-box--hidefull" src="../img/logo1.svg">
      <span class="logo__title">BECO</span>
    </a>
    <div class="nav">
      <div class="sidebar__container-box">
        <a href="#catalog" class="nav__link">
          <img class="sidebar__icon sidebar__container-box--hidefull" src="../img/catalog.svg">
          <span class="sidebar__container-box--hide">Каталог</span>
        </a>
      </div>
      <div class="sidebar__container-box">
        <a href="#health" class="nav__link">
          <img class="sidebar__icon sidebar__container-box--hidefull" src="../img/health.svg">
          <span class="sidebar__container-box--hide">Здоровье</span>
        </a>
      </div>
      <div class="sidebar__container-box">
        <a href="#beauty" class="nav__link">
          <img class="sidebar__icon sidebar__container-box--hidefull" src="../img/Vector.svg">
          <span class="sidebar__container-box--hide">Красота</span>
        </a>
      </div>  
      <div class="sidebar__container-box">
        <a href="#enjoy" class="nav__link">
          <img class="sidebar__icon sidebar__container-box--hidefull" src="../img/enjoy.svg">
          <span class="sidebar__container-box--hide">Развлечения</span>
        </a>
      </div>
      <div class="sidebar__container-box">
        <a href="#car"   class="nav__link">
          <img   class="sidebar__icon sidebar__container-box--hidefull" src="../img/car.svg">
          <span class="sidebar__container-box--hide">Авто</span>
        </a>
      </div> 
    </div>
  </div>
  <img class="sidebar__form" src="../img/Union.svg">   
  <script>
    import menu from '/src/js/menu'
  </script>
</sidebar>
