.header {
  max-width: 1200px;
  min-height: 106px;
  margin-left: 250px;
  &__title {
  }
  &__container {
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
  }
  &__input {
    outline: none;
    padding-left: 44px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: auto;
    height: 52px;
    -webkit-flex: 1 1 auto;
    background: url(../img/search.svg) no-repeat 0 50%;
    background-position-x: 15px;
  }
}

@media (max-width:930px) {
  .header {
    margin-left: 100px;
    &__title {
      text-align: right;
    }
    &__input {
      padding-left: 44px;
    }
  }
}
@media (max-width:400px) {
  .header {
    margin-left: -12px;
    &__title {
      text-align: right;
    }
  }
}