.main {
  height: 100%;
  position: absolute;
  left: 240px;
  margin-top: 10px;
  &__container {
    background-color: var(--color-lightgray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    
  }
  &__coupon {
    position: relative;
    margin: 15px 0;
    width: 346px;
    height: 161px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    &-food {
      max-width: 130px;
      max-height: 161px;
      float: right;
      right: 0;
    }
    &-textbottom {
      max-width: 307px;
      max-height: 50px;
      margin: 43px 130px 16px 20px;
    }
    &-texttop {
      max-width: 307px;
      max-height: 36px;
      margin: 16px 20px 0 20px;
      
    }
    &:hover {
      border: 1px solid red;
      transition: 0.2s;
    }
  }
}
.texttop-top {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 16px;
  letter-spacing: 0.1em;
}

.texttop-bottom {
  color: #000000;
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
}

.textbottom-top {
  color: var(--color-red);
  font-family: Roboto;
  font-size: 36px;
  text-transform: uppercase;
}

.textbottom-bottom {
  color: #000000;
  opacity: 0.5;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 0.4em;
}

@media (max-width:932px) {
  .main {
    background-color: var(--color-lightgray);
    height: 100%;
    left: 102px;
    margin-top: 0;
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      // padding-top: 40px;
      // margin-left: 60px;
      // margin-right: 40px;
      justify-content: space-evenly;
      
    }
    &__coupon {
      position: relative;
      margin: 15px 0;
      width: 296px;
      height: 144px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      overflow: hidden;
      background-color: white;
      &-food {
        max-width: 130px;
        max-height: 161px;
        float: right;
        right: 0;
      }
      &-textbottom {
        max-width: 185px;
        max-height: 47px;
        margin: 25px 130px 16px 20px;
      }
      &-texttop {
        max-width: 307px;
        max-height: 36px;
        margin: 16px 20px 0 20px;
        
      }
      &:hover {
        border: 1px solid red;
        transition: 0.2s;
      }
    }
  }
  .texttop-top {
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  
  .texttop-bottom {
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
  }
}
@media (max-width:400px) {
  .main {
    background-color: var(--color-lightgray);
    height: 100%;
    left: 7px;
  }
}  