.nav {
  &__link {
    position: relative;
    font-size: 16px;
    &::before {
      position: absolute;
      content: "";
      left: -38px;
      bottom: 26px;
      height: 0;
      width: 3px;
      background-color: var(--color-blue);
      transition: height 0.15s linear;
    }

    &:hover {
      &::before {
        height: 24px;
        transition: height 0.15s liner;
      }
    }
  }

  .active {
    color: var(--color-blue); 
  }
}

@media (max-width:932px) {
  .nav {
    &--padding {
      margin-bottom: 40px;
    }
    &__link {
      &::before {
        position: absolute;
        content: "";
        left: -38px;
        top: 0;
        height: 0;
        width: 3px;
        background-color: var(--color-blue);
        transition: height 0.15s linear;
      }
  
      &:hover {
        &::before {
          height: 24px;
          transition: height 0.15s liner;
        }
      }
    }
  
    .active {
      color: var(--color-blue); 
    }
    &__toggleShow {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      padding-left: 38px;
      width: 150px;
      height: 30px;
      padding: 0;
      right: 15px;
      padding-top: 5px;
    }
  }
}

@media (max-width:400px) {
  .nav {
    &__link {
      &::before {
        position: absolute;
        content: "";
        left: -38px;
        top: 0;
        height: 0;
        width: 3px;
        background-color: var(--color-blue);
        transition: height 0.15s linear;
      }
  
      &:hover {
        &::before {
          height: 24px;
          transition: height 0.15s liner;
        }
      }
    }
  
    .active {
      color: var(--color-blue); 
    }
  }
}