.sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &__container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    background-color: var(--color-lightblue);
    height: 100vh;
    &-box {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      padding-left: 38px;
      width: 240px;
      height: 64px;
      
    }
  }

  &__form {
    display: none;
    max-width: 48px;
    max-height: 106px;
  }

  &__menuicon {
    display: none;
    position: relative;
    left: 104px;
    top: 0;
    max-width: 48px;
    max-height: 106px;
    &-burger {
      position: absolute;
      left: 142px;
      bottom: 42px;
    }
  }

  &__icon {
    margin-bottom: -5.5px;
    margin-right: 15px;
    width: 24px;
    height: 24px;
  }

  &__textbox {
    padding-left: 10px;
    width: 122px;
    height: 24px;
  }
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-right: 60px;
  max-width: 121px;
  max-height: 50px;
  &__title {
    padding-left: 10px;
  }
}

@media screen and (max-width: 932px) {
  .sidebar {
    z-index: 1;
    max-width: 150px;
    &__burger-icon {
      display: initial;
      position: absolute;
      margin-left: 63px;
      bottom: 42px;
      cursor: pointer;
    }
    &__container {
      &-box {
        max-width: 104px;
        &--hide {
          display: none;
        }
      }
    }
    
    &__form {
      display: inline;
    }
  
    &__menuicon {
      display: inline;
      position: relative;
      left: 104px;
      top: 0;
      max-width: 48px;
      max-height: 106px;
      &-burger {
        display: initial;
        position: absolute;
        left: 4px;
        bottom: 42px;
        cursor: pointer;
      }
    }
  }

  .sidebar--show {
    max-width: 246px;
  }
  
  .logo {
    // align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    max-width: 121px;
    max-height: 50px;
    &__title {
      display: none;
    }
  }
  
}

@media screen and (max-width: 400px) {
  .sidebar {
    z-index: 1;
    max-width: 55px;
    &__burger-icon {
      display: initial;
      position: absolute;
      margin-left: 190px;
      bottom: 42px;
      cursor: pointer;
    }
    &__container {
      &-box {
        max-width: 104px;
        &--hide {
          display: none;
        }
        &--hidefull {
          display: none;
        }
      }
    }
    
    &__form {
      display: inline;
    }
  
    &__menuicon {
      display: inline;
      position: relative;
      left: 104px;
      top: 0;
      max-width: 48px;
      max-height: 106px;
      &-burger {
        display: initial;
        position: absolute;
        left: -90px;
        bottom: 42px;
        cursor: pointer;
      }
    }
  }

  .sidebar--show {
    max-width: 246px;
  }
  
  .logo {
    // align-items: center;
    display: flex;
    flex-direction: row;
    // margin-left: 100px;
    max-width: 121px;
    max-height: 50px;
    &__title {
      display: none;
      padding: 0;
      left: 10px;
    }
    &__show {
      display: inline;
      margin-right: 30px;
    }
  }
  

}

