html {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  font-weight: 600;
  color: var(--color-dark);
}

input {
  margin: 0;
  padding: 0;
}

// img {
  // max-width: 100%;
  // width: 100%;
  // height: 100%;
  // margin: 0;
  // padding: 0;
// }

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh; 
}

.content__container {
  display: inline-block;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}



.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 240px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
