// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #333333;
  --color-red: #DF212D;
  --color-gray: #e49797;
  --color-blue: #34ABE0;
  --color-lightblue: #F3F4F9;
  --color-lightgray: #FAFAFA;
}
